[run]
source = .
relative_files = True
omit =
    test/*
    e2e/conftest.py
    e2e/test_sandbox.py
    build/*
    .venv*/*
    venv/*
    env/*

[report]
fail_under = 90
precision = 2
show_missing = True
